*
*/

!deployrr_v5.7.1.app 
!deployrr_v5.7.1-arm.app 

!.gitignore
!announcement
!CHANGELOG.md
!latest-version
!LICENSE
!README.md
!APPS.md
dpf*
dpm*
*.sh 

!compose
compose/*
!compose/*.yml

!images
!images/*
!images/*/*

!includes
!includes/*
!includes/*/*

!scripts
scripts/*
!scripts/*.sh
